/*body{
  background-image: url("../images/pexels-element-digital-1550339.jpg")
}*/
.reg{
  background-image:url("/images/mapple.jpg")
}

.log{
  background-image:url("/images/day.jpg")
}

.success{
  background-image:url("../images/voted.jpg")
}

.vote{
  background-image:url("../images/use.jpg")
}
