  {% extends "adminLayout.html" %}


{% block body %}
<div class="container mt-5">
  <h1> The Election is Still Ongoing. Click the button Below to end it</h1>
  <br />
  <form class="">
    {{ form.electionName.label(
      class = "form-label") }}
    {{ form.electionName(
      class = "form-control", disabled=true, value=electionName) }}
  </form>
      <br>
      <div class="text-center">
        <button class="btn btn-danger mb-3" data-target="#EndElection" data-toggle="modal"><i class="far fa-stop-circle"> End Election</i> </button>
        <div class="modal fade" id="EndElection" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title "> Are You Sure You Want To End The Election </h5>
              <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form class="" action="result?username=Admin" method="post">
                {{ form.submit(
                  class = "btn btn-danger") }}
              </form>

            </div>
          </div>
        </div>

      </div>

</div>

  {% endblock %}
